.container {
  display: flex;
  height: 100vh;
}

.container > :first-child {
  flex: 1;
}

.container > :last-child {
  flex: 4;
  padding: 2em;
}

.inputs {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}
