.input {
  display: inline-flex;
  border: 1px solid #333;
  min-height: 1.875em;
}

.element {
  border: 1px solid #333;
  padding: 2px 0.5em;
  margin: 2px;
}

.clearButton {
  margin-left: auto;
  background: none;
  border: none;
  border-left: 1px solid black;
  cursor: pointer;
}
